<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501601425155-e9cq9da760jukjl9bifa8ep7grhcc5ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501601425155-e9cq9da760jukjl9bifa8ep7grhcc5ai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501601425155-ferh6djv0o6r5rrhqhbb0tu2qp4dehbf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-E8s2Hsk4bE1oCaMnQbQLp7s2E9rDSKE</string>
	<key>GCM_SENDER_ID</key>
	<string>501601425155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raulalmeida.grupo_fenix</string>
	<key>PROJECT_ID</key>
	<string>cleanmanager-11e08</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanmanager-11e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501601425155:ios:e8d481aaebb467ff</string>
	<key>DATABASE_URL</key>
	<string>https://cleanmanager-11e08.firebaseio.com</string>
</dict>
</plist>